body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.text {
  color: rgb(59, 131, 178);
  font-size: 30px;
}

.status {
  margin-bottom: 10px;
}
.button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  float: left;
  box-shadow: 9px 9px 8px 6px #c3c3c3;
  font-size: 68px;
  font-weight: bold;
  line-height: 34px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
